<div class="bg-gradient-to-r from-purple-500 to-indigo-600 min-h-screen p-8">
    <div class="max-w-8xl mx-auto mt-10">
        <!-- Main Container -->
        <div class="bg-white rounded-lg shadow-xl p-6 mb-8">
            <!-- Header Section with Actions -->
            <div class="flex justify-between items-center gap-4 mb-4">
                <!-- Add Reminder Button -->
                <button pButton pRipple label="Yeni Hatırlatıcı Ekle" icon="pi pi-plus"
                    class="p-button-success hover:bg-green-600 transition duration-300 ease-in-out transform hover:scale-105"
                    (click)="reminderAdd()">
                </button>

                <!-- Filter Section -->
                <div class="flex-1 flex items-center">
                    <span class="p-input-icon-left w-full max-w-md">
                        <input pInputText type="text" [(ngModel)]="searchValue" (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Ara..." class="w-full p-2" />

                    </span>
                </div>

                <p-button label="Temizle" icon="pi pi-filter-slash" severity="secondary" (onClick)="clear(dt1)">
                </p-button>
                <!-- Notification Section -->
                <div class="button-container">
                    <p-badge [value]="todoCount().toString()" [ngClass]="{'blink-button': todoCount() > 0}"
                        class="badge-pos">
                    </p-badge>

                    <p-button icon="pi pi-bell" [rounded]="true" severity="warning" (onClick)="showTodoDialog()"
                        [ngClass]="{'blink-button': todoCount() > 0}" class="blink-button">
                    </p-button>

                    <!-- Todo List Dialog -->
                    <p-dialog header="Yapılacaklar Listesi" [(visible)]="todoDialogVisible" [style]="{width: '50vw'}">
                        <ul class="list-none p-0 m-0">
                            @for (item of tempList(); track $index) {
                            <li class="flex align-items-center p-2 border-bottom-1 surface-border mt-4 bg-slate-50">
                                <!-- Todo Item Content -->
                                <div class="flex-grow-1 w-full">
                                    <h3 class="text-lg font-semibold">{{item.title}}</h3>
                                    <p class="text-gray-600">{{item.message}}</p>
                                    <small class="text-gray-500">Hatırlatıcı Tarihi: {{item.date}}</small>
                                </div>

                                <!-- Delete Button -->
                                <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                                    (onClick)="confirmDeletes(item.id)" class="mt-8">
                                </p-button>

                                <!-- Delete Confirmation Dialog -->
                                <p-dialog header="Silme Onayı" [visible]="deleteConfirmationVisibles()"
                                    (visibleChange)="deleteConfirmationVisibles.set($event)" [modal]="false"
                                    [style]="{width: '350px'}">
                                    <p class="mb-4">Bu Bildirimi silmek istediğinize emin misiniz?</p>
                                    <ng-template pTemplate="footer">
                                        <div class="flex justify-end gap-2">
                                            <p-button icon="pi pi-times"
                                                (onClick)="deleteConfirmationVisibles.set(false)" label="Hayır"
                                                styleClass="p-button-text">
                                            </p-button>
                                            <p-button icon="pi pi-check" (onClick)="deleteProducte()" label="Evet"
                                                styleClass="p-button-text">
                                            </p-button>
                                        </div>
                                    </ng-template>
                                </p-dialog>
                            </li>
                            }
                        </ul>
                    </p-dialog>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden">
                    <h2 class="text-center text-xl font-bold text-white bg-red-600 py-3">YAPILACAKLAR</h2>
                    <div class="p-4" pDroppable="products">
                        <p-table #dt1 [value]="todoProducts()" [tableStyle]="{'min-width': '100%'}"
                            [globalFilterFields]="['title', 'date', 'priority', 'category']"
                            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr class="bg-gray-200">
                                    <th pSortableColumn="title" class="text-left p-3 w-40">Başlık
                                        <p-sortIcon field="title" />
                                    </th>
                                    <th pSortableColumn="date" class="text-left p-3">Tarih
                                        <p-sortIcon field="date" />
                                    </th>
                                    <th class="text-left p-3">Saat</th>
                                    <th pSortableColumn="priority" class="text-left p-3">Öncelik
                                        <p-sortIcon field="priority" />

                                    </th>
                                    <th class="text-left p-3">Kategori</th>
                                    <th class="text-left p-3">İşlem</th>
                                    <th class="text-left p-3">Detay</th>
                                    <th class="text-left p-3">Güncelle</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr [ngClass]="getSeverity(product.priority)" pDraggable="products"
                                    (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()"
                                    class="hover:bg-gray-100 transition-colors duration-200">
                                    <td class="p-3">{{product.title| titlecase}}</td>
                                    <td class="p-3">{{product.date}}</td>
                                    <td class="p-3">{{product.time | timePipe}}</td>
                                    <td class="p-3">
                                        <p-tag [value]="product.priority"
                                            [severity]="getSeverity(product.priority)"></p-tag>
                                    </td>
                                    <td class="p-3">{{product.category}}</td>
                                    <td class="p-3">
                                        <p-button icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger p-button-text mr-2"
                                            (onClick)="confirmDelete(product.id)"></p-button>

                                        <p-dialog header="Silme Onayı" [visible]="deleteConfirmationVisible()"
                                            (visibleChange)="deleteConfirmationVisible.set($event)" [modal]="false"
                                            [style]="{width: '350px'}">
                                            <p>Bu Bildirimi silmek istediğinize emin misiniz?</p>
                                            <ng-template pTemplate="footer">
                                                <p-button icon="pi pi-times"
                                                    (onClick)="deleteConfirmationVisible.set(false)" label="Hayır"
                                                    styleClass="p-button-text"></p-button>
                                                <p-button icon="pi pi-check" (onClick)="deleteProductes()" label="Evet"
                                                    styleClass="p-button-text"></p-button>
                                            </ng-template>
                                        </p-dialog>
                                    </td>
                                    <td>
                                        <button pButton icon="pi pi-eye"
                                            class="p-button-rounded p-button-info p-button-text"
                                            (click)="viewProduct(product)"></button>
                                    </td>
                                    <td>
                                        <button pButton icon="pi pi-pencil"
                                            class="p-button-rounded p-button-info p-button-text ml-4"
                                            (click)="showUpdateDialog(product)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="bg-gray-50 rounded-lg shadow-md overflow-hidden ">
                    <h2 class="text-center text-xl font-bold text-white bg-green-600 py-3">TAMAMLANANLAR</h2>
                    <div class="p-4" pDroppable="products" (onDrop)="drop()">
                        <p-table #dt1 [value]="completedProducts()" [tableStyle]="{'min-width': '100%'}"
                            [globalFilterFields]="['title', 'date', 'priority', 'category']"
                            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr class="bg-gray-200">
                                    <th pSortableColumn="title" class="text-left p-3 w-40">Başlık
                                        <p-sortIcon field="title" />
                                    </th>
                                    <th pSortableColumn="date" class="text-left p-3">Tarih
                                        <p-sortIcon field="date" />
                                    </th>
                                    <th class="text-left p-3">Saat</th>
                                    <th pSortableColumn="priority" class="text-left p-3">Öncelik
                                        <p-sortIcon field="priority" />

                                    </th>
                                    <th class="text-left p-3">Kategori</th>
                                    <th class="text-left p-3 ">İşlem</th>
                                    <th class="text-left p-3 ">Detay</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr [ngClass]="getSeverity(product.priority)" class="bg-green-100">
                                    <td class="p-3 line-through">{{product.title | uppercase}}</td>
                                    <td class="p-3 line-through">{{product.date}}</td>
                                    <td class="p-3 line-through">{{product.time | timePipe }}</td>
                                    <td class="p-3 ">
                                        <p-tag [value]="product.priority"
                                            [severity]="getSeverity(product.priority)"></p-tag>
                                    </td>
                                    <td class="p-3 line-through">{{product.category}}</td>
                                    <td><p-button icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger p-button-text mr-2"
                                            (onClick)="confirmDelete(product.id)"></p-button>
                                        <p-dialog header="Silme Onayı" [visible]="deleteConfirmationVisible()"
                                            (visibleChange)="deleteConfirmationVisible.set($event)" [modal]="false"
                                            [style]="{width: '350px'}">
                                            <p>Bu Bildirimi silmek istediğinize emin misiniz?</p>
                                            <ng-template pTemplate="footer">
                                                <p-button icon="pi pi-times"
                                                    (onClick)="deleteConfirmationVisible.set(false)" label="Hayır"
                                                    styleClass="p-button-text"></p-button>
                                                <p-button icon="pi pi-check" (onClick)="deleteProductes()" label="Evet"
                                                    styleClass="p-button-text"></p-button>
                                            </ng-template>
                                        </p-dialog>
                                    </td>
                                    <td><button pButton icon="pi pi-eye"
                                            class="p-button-rounded p-button-info p-button-text"
                                            (click)="viewProduct(product)"></button></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <p-dialog header="Ürün Detayı" [(visible)]="productDialogVisible" [style]="{width: '50vw'}" [modal]="false"
        styleClass="p-fluid">
        <ng-container *ngIf="selectedProduct() as product">
            <div class="grid grid-cols-2 gap-5">
                <div class="col-span-2">
                    <label class="font-bold ">Başlık:</label>
                    <input pInputText id="title" type="text" [disabled]="true" placeholder="{{product.title}}" 
                        class="w-full mt-1" />
                </div>
                <div class="col-span-2">
                    <label class="font-bold">Mesaj:</label>
                    <p class="mt-1">{{product.message}}</p>
                </div>
                <div>
                    <label class="font-bold">Tarih:</label>
                    <p-calendar id="date" placeholder="{{product.date}}" [showIcon]="true" dateFormat="dd.mm.yy"
                        [minDate]="today" class="w-full mt-1" disabled="true"></p-calendar>
                </div>
                <div>
                    <label class="font-bold">Saat:</label>
                    <p class="mt-1">{{product.time| timePipe}}</p>
                </div>
                <div>
                    <label class="font-bold">Öncelik:</label>
                    <p-tag [value]="product.priority" [severity]="getSeverity(product.priority)" class="mt-1"></p-tag>
                </div>
                <div>
                    <label class="font-bold">Kategori:</label>
                    <p class="mt-1">{{product.category}}</p>
                </div>
            </div>
        </ng-container>
    </p-dialog>
    <p-dialog header="YENİ HATIRLATICI EKLE" [(visible)]="visible" [modal]="false"
        [style]="{width: '40vw' ,height:'46vw'}" styleClass="p-fluid">
        <form [formGroup]="registerAddForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div class="field">
                <label for="title" class="font-bold">Hatırlatıcı Başlığı:</label>
                <input pInputText id="title" formControlName="title" class="w-full mt-1" />
            </div>
            <div class="field">
                <label for="message" class="font-bold">Hatırlatıcı Mesajı:</label>
                <textarea pInputTextarea id="message" formControlName="message" rows="5"
                    class="w-full h-40 mt-1"></textarea>
            </div>
            <div class="field">
                <label for="date" class="font-bold">Hatırlatıcı Tarihi:</label>
                <p-calendar 
                  id="date" 
                  formControlName="date" 
                  [showIcon]="true" 
                  dateFormat="dd.mm.yy"
                  [minDate]="today"
                  (onSelect)="onDateSelect($event)"
                  class="w-full mt-1">
                </p-calendar>
              </div>
              
              <div class="field">
                <label for="time" class="font-bold">Hatırlatıcı Saati:</label>
                <p-calendar 
                  id="time"
                  formControlName="time" 
                  [timeOnly]="true" 
                  [showIcon]="true"
                  [minDate]="minTime"
                  class="w-full mt-1">
                </p-calendar>
              </div>
            <div class="field">
                <label for="priority" class="font-bold">Öncelik Durumu:</label>
                <p-dropdown formControlName="priority" [options]="priority()" optionLabel="name" optionValue="name"
                    placeholder="Öncelik Durumunu Seçiniz" class="w-full mt-1"></p-dropdown>
            </div>
            <div class="field">
                <label for="category" class="font-bold">Kategori:</label>
                <p-dropdown formControlName="category" [options]="category()" optionLabel="name" optionValue="name"
                    placeholder="Kategori Seçiniz" class="w-full mt-1"></p-dropdown>
            </div>
            <div class="flex justify-end space-x-2 mt-4">
                <button pButton label="İptal" type="button" class="p-button-danger"></button>
                <button pButton label="Kaydet" type="submit" class="p-button-success"></button>
            </div>
        </form>
    </p-dialog>
    <p-dialog header="HATIRLATICI GÜNCELLE" [visible]="updateDialogVisible()"
        (visibleChange)="updateDialogVisible.set($event)" [modal]="false" [style]="{width: '40vw', height:'46vw'}"
        styleClass="p-fluid">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="space-y-4">
            <div class="field">
                <label for="title" class="font-bold">Hatırlatıcı Başlığı:</label>
                <input pInputText id="title" formControlName="title" class="w-full mt-1" />
            </div>
            <div class="field">
                <label for="message" class="font-bold">Hatırlatıcı Mesajı:</label>
                <textarea pInputTextarea id="message" formControlName="message" rows="5"
                    class="w-full h-40 mt-1"></textarea>
            </div>
            <div class="field">
                <label for="date" class="font-bold">Hatırlatıcı Tarihi:</label>
                <p-calendar id="date" formControlName="date" [showIcon]="true" dateFormat="dd.mm.yy" [minDate]="today"
                    class="w-full mt-1"></p-calendar>
            </div>
            <div class="field">
                <label for="time" class="font-bold">Hatırlatıcı Saati:</label>
                <p-calendar formControlName="time" [timeOnly]="true" [showIcon]="true" class="w-full mt-1"></p-calendar>
            </div>
            <div class="field">
                <label for="priority" class="font-bold">Öncelik Durumu:</label>
                <p-dropdown formControlName="priority" [options]="priority()" optionLabel="name" optionValue="name"
                    placeholder="Öncelik Durumunu Seçiniz" class="w-full mt-1"></p-dropdown>
            </div>
            <div class="field">
                <label for="category" class="font-bold">Kategori:</label>
                <p-dropdown formControlName="category" [options]="category()" optionLabel="name" optionValue="name"
                    placeholder="Kategori Seçiniz" class="w-full mt-1"></p-dropdown>
            </div>
            <div class="flex justify-end space-x-2 mt-4">
                <button pButton label="İptal" type="button" class="p-button-danger"
                    (click)="updateDialogVisible.set(false)"></button>
                <button pButton label="Güncelle" type="submit" class="p-button-success"></button>
            </div>
        </form>
    </p-dialog>